fastapi==0.95.2
uvicorn[standard]==0.22.0
SQLAlchemy==1.4.48
psycopg2-binary==2.9.6
pydantic==1.10.12
python-multipart==0.0.6
PyPDF2==3.0.1
scikit-learn==1.2.2
numpy==1.26.0
python-dotenv
nltk
requests
python-docx==0.8.11
passlib[bcrypt]==1.7.4
PyJWT==2.8.0
pdfplumber==0.10.3
